.number{
    display: inline-flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    border: 1px solid #b2b2b2;
}
.even {
    background-color: green;
}

.odd {
    background-color: yellow;
}

.prime {
    background-color: red;
}